* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body {
  position: relative;
}

#body video {
  transition: filter 250ms linear;
}

#body.loading video {
  filter: grayscale(1) brightness(0.25);
}

#body.loading:before {
  content: "Loading Model...";
  color: white;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 20px;
  font-size: 3em;
  font-weight: bold;
  z-index: 100;
}
video {
  width: 50%;
}
#body,
/* video, */
canvas {
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
}

video,
canvas {
  position: fixed;
  top: 25%;
  left: 25%;
}

#body:after {
  content: "";
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 150px;
  z-index: 1;
}

#fps {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#fps:empty {
  display: none;
}

#fps:after {
  content: " fps";
}
