<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Skripsi</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="../static/vendor/css/bootstrap-grid.css" />
		<link rel="stylesheet" href="../static/vendor/css/bootstrap.css" />
		<link rel="stylesheet" href="../static/vendor/css/" />
	</head>

	<body>
		<div class="background1">
			<!-- navbar -->
			<div class="container fixed-top">
				<nav class="navbar navbar-expand-lg navbar-light navigasi">
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>

					<div
						class="collapse navbar-collapse justify-content-center"
						id="navbarNav"
					>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/">Beranda</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/deteksi">Deteksi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/kamus"
									>Kamus</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/tentang">Tentang</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- akhir navbar -->
			<!-- aboutus text-->
			<div class="container aboutus">
				<div>
					<h2 class="text-center pb-3">
						<span class="warna">About</span> Me
					</h2>
					<!-- text -->
					<!-- <p class="text-justify"> -->
					<div class="row d-flex justify-content-center text-justify">
						<div class="col-lg-10 align-self-baseline">
							<p class="text-white-75 mb-5">
								<span class="warna">HandTalk</span> didirikan
								dengan visi untuk meningkatkan pemahaman dan
								penggunaan bahasa isyarat di seluruh dunia. Tim
								kami terdiri dari ahli bahasa isyarat, desainer
								web, dan advokat aksesibilitas yang berdedikasi
								untuk menciptakan sumber daya yang berkualitas
								dan mudah diakses bagi semua orang. Kami percaya
								bahwa bahasa isyarat bukan hanya alat
								komunikasi, tetapi juga ekspresi budaya dan
								identitas bagi komunitas bahasa isyarat di
								seluruh dunia. Bersama-sama, mari kita bangun
								dunia yang lebih inklusif dan ramah bagi semua
								orang, tanpa memandang latar belakang atau
								kemampuan komunikasi. Terima kasih atas
								kunjungan Anda, dan jangan ragu untuk
								menghubungi kami jika Anda memiliki pertanyaan
								atau masukan.
							</p>
						</div>
					</div>
					<!-- text -->
				</div>
			</div>
			<!-- aboutus text akhir-->

			<!-- Tim -->
			<div class="container team mb-5">
				<div class="text-center">
					<h2 class="pb-5">
						Developer<span class="warna"> Website</span>
					</h2>
					<div class="row justify-content-center">
						<div class="col-6 col-md-3">
							<div class="polaroid">
								<img
									src="../static/images/anggota/Heru.jpeg"
									class="polaroid img-responsive mx-auto d-block img-fluid image-anggota"
								/>
								<h4 class="warna">Heru Setiawan Saputra</h4>
								<p>Universitas PGRI Semarang</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- akhir deksripsi -->

			<!-- footer -->
			<footer class="bg-dark text-white d-flex">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-6">
							<div class="p-3">
								©2024 Copyright:
								<a class="text-white" href="/"
									><span class="warna">Hand</span>Talk</a
								>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="p-2">
								<a
									href="https://github.com/Grizellee/last-project"
									><i
										class="fa fa-brands fa-github fa-2x mx-2"
									></i
								></a>
								<a
									href="https://universe.roboflow.com/project-heru/project-akhir-9tevr/dataset/1"
									><i
										class="fa sfa-solid fa-database fa-2x mx-2"
									></i
								></a>
								<a href="https://www.instagram.com/_h.saputra/"
									><i
										class="fa fa-brands fa-instagram fa-2x mx-2"
									></i
								></a>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- akhir footer -->
		</div>

		<!--All Script-->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
		<script src="../static/vendor/js/bootstrap.js"></script>

		<!-- chattbot -->
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
			integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../static/js/chat.js"></script>
	</body>
</html>
