<!DOCTYPE html>
<html lang="en">

<head>
    <title>Skripsi</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../static/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="../static/vendor/css/">
</head>

<body>
    <div class="background1">
    <!-- navbar -->
    <div class="container fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light navigasi">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/deteksi">Deteksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/kamus"
                            >Kamus</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tentang">Tentang</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- akhir navbar -->

    <!-- button to top  -->
    <button
        type="button"
        class="btn btn-floating btn-lg"
        id="btn-back-to-top"
        >
    <i class="fa fa-solid fa-arrow-up"></i>
    </button>
    
    <!-- akhir navbar -->
    <!--Fitur fitur  -->
    <div class="container dictionary">
        <h2 class="text-center"><span class="warna">Kamus </span>Bahasa Isyarat</h>
        <section class="search_section">
            <h5 class="container-header text-center">Pencarian Kata</h5>
            <form id="searchBook">
              <input id="searchKamusTitle" type="text">
            </form>
        </section>
        <p class="text-center" id="tidak-ada"></p>
        <div class="row">
            <div id="no-kamus" class="col no-kamus" >
                <p>Kata tidak ditemukan</p>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center">
                    <img src="{{url_for('static', filename='images/kamus/adik.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto"> Adik</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Aku.png')}}" class="img-fluid " width="300px ">
                    <p class="text-kamus mx-auto my-auto align-self-center">Aku</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Ayah.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Ayah</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Bahagia.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Bahagia</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Baik.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Baik</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Bau.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Bau</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Berhenti.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Berhenti</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Buruk.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Buruk</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Cantik.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Cantik</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Cinta.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Cinta</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Datang.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Datang</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Dimana.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Dimana</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Ibu.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Ibu</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Kakek.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Kakek</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/diam.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Diam</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Kapan.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Kapan</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Lari.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Lari</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/Maaf.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Maaf</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/selamat Tinggal.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Selamat Tinggal</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="text-center ">
                    <img src="{{url_for('static', filename='images/kamus/telpon.png')}}" class="img-fluid" width="300px ">
                    <p class="text-kamus mx-auto my-auto">Telepon</p>
                </div>
            </div>
        </div>
    </div>

    <!-- akhir fitur -->

      <!-- footer -->
    <footer class="bg-dark text-white d-flex">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3">
                        ©2023 Copyright:
                        <a class="text-white" href="/">Peka<span class="warna">.in</span></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-2 ">
                        <a href="https://github.com/Dennissaputra/PA_Peka"><i class="fa fa-brands fa-github fa-2x mx-2"></i></a>
                        <a href="https://universe.roboflow.com/ngulangterossssss/projek_akhir/"><i class="fa sfa-solid fa-database fa-2x mx-2"></i></a>
                        <a href=""><i class="fa fa-brands fa-youtube fa-2x mx-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- akhir footer -->
</div>


    <!--All Script-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script> 
    <script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- chatbot -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>