<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Skripsi</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="../static/vendor/css/bootstrap-grid.css" />
		<link rel="stylesheet" href="../static/vendor/css/bootstrap.css" />
		<link rel="stylesheet" href="../static/vendor/css/" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-D2IPKXTMwLrnjvH2inEnFI3h16XnNzG9zxTh2BUV/oLz/0W2W0Xd1MDZpWZmxQefEo4A98NPVIwJHHgNcMxrIw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
	</head>

	<body>
		<div class="background1">
			<!-- navbar -->
			<div class="container fixed-top">
				<nav class="navbar navbar-expand-lg navbar-light navigasi">
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>

					<div
						class="collapse navbar-collapse justify-content-center"
						id="navbarNav"
					>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/">Beranda</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/deteksi">Deteksi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/kamus"
									>Kamus</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/tentang">Tentang</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- akhir navbar -->

			<!-- Deskripsi -->
			<div class="container deskripsi">
				<br />
				<br />
				<div class="row d-flex justify-content-center">
					<div class="container px-4 px-lg-5 h-100">
						<div
							class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
						>
							<div class="col-lg-8 align-self-end">
								<h1 class="text-white font-weight-bold">
									Selamat datang di
									<span class="warna">HandTalk!</span>
								</h1>
								<hr class="divider" />
							</div>
							<div class="col-lg-10 align-self-baseline">
								<p class="text-white-75 mb-5">
									Kami mengundang Anda untuk menjelajahi situs
									kami dan memanfaatkan semua sumber daya yang
									kami sediakan. Kami berharap Anda menemukan
									apa yang Anda cari di sini.
								</p>
								<br />
								<br />
								<a href="/deteksi"
									><button
										type="button"
										class="btn btn-start"
										style="background-color: #ff2e00"
									>
										<p>Mulai</p>
									</button></a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- akhir deksripsi -->
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<!--Fitur fitur  -->
			<div class="container fitur text-center">
				<br />
				<h2 class="font-weight-bold">
					Fitur -<span class="warna">Fitur</span>
				</h2>
				<div class="row margin">
					<div class="col-6 col-md-6">
						<a href="/kamus"
							><img
								src="../static/images/fitur1.png"
								class="img-fluid img-responsive"
								width="450px "
						/></a>
						<div class="body">
							<p>
								Kamus <span class="warna">Bahasa Isyarat</span>
							</p>
						</div>
					</div>
					<div class="col-6 col-md-6">
						<a href="/deteksi"
							><img
								src="../static/images/fitur2.png"
								class="img-fluid img-responsive"
								width="450px"
						/></a>
						<div class="body">
							<p>
								Deteksi
								<span class="warna">Bahasa Isyarat</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- akhir fitur -->

			<!-- footer -->
			<footer class="bg-dark text-white d-flex">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-6">
							<div class="p-3">
								©2024 Copyright:
								<a class="text-white" href="/"
									><span class="warna">Hand</span>Talk</a
								>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="p-2">
								<a
									href="https://github.com/Dennissaputra/PA_Peka"
									><i
										class="fa fa-brands fa-github fa-2x mx-2"
									></i
								></a>
								<a
									href="https://universe.roboflow.com/project-heru/project-akhir-9tevr/dataset/1"
									><i
										class="fa sfa-solid fa-database fa-2x mx-2"
									></i
								></a>
								<a href="https://www.instagram.com/_h.saputra/"
									><i
										class="fa fa-brands fa-instagram fa-2x mx-2"
									></i
								></a>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- akhir footer -->
		</div>

		<!--All Script-->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
		<script src="../static/vendor/js/bootstrap.js"></script>

		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
			integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../static/js/chat.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
